
* {box-sizing: border-box;}
/*nav bar*/
  
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: #1b1b1b;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
.content div{
  font-size: 40px;
  font-weight: 700;
}

/* end of nav bar */

/* Text and Body Color */
  body {
    margin: 0;
    background-color:#ffffff;
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
/* End of Text and Body Color */


/* Heading*/
  .heading-homepage {
        display: block;
        text-align: center;
        padding: 32px;
        color :rgb(8, 8, 8);
        font-size: 22px;
        background-color:#ffffff;
  }
  h1.main{
    color:black;
  }
  p.mainpara{
    color:black;
  }
  h2.manufacture{
    color: black;
    text-align: center;
  }
/* Heading End */  

/* Description Styling */
* {
  box-sizing:border-box;
}

.container {
  padding: 64px;
}
.container2 {
  padding: 64px;
  background-color: #f1f1f1;
}

.row:after {
  display: table;
  content: "";
  clear: both
}

.columnright {
  float: left;
  padding: 20px;
  width: 66.6666%;
}

.columnleft {
  float: left;
  width: 33.3333%;
  padding: 20px;
}

.large-font {
  font-size: 48px;
}

.xlarge-font {
  font-size: 64px
}

.button {
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  background-color:#ed6f32;
  padding:.8em;
  text-transform:uppercase;
  text-decoration: none;
  display:block;
  width:140px;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

@media screen and (max-width: 1000px) {
  .column-66, .column-33 {
    width: 100%;
    text-align: center;
  }

  img {
    margin: auto;
  }
}

/*Styling for the Table in Descriptions */

table {
  border-collapse: collapse;
  width: 100%;  
}

table td, table th{
  border: 3px solid #1B4A56;
  text-align:center;
  align-items: center;
  padding: 8px;
}
table tr:hover {
  background-color:whitesmoke;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align:center;
  background-color:#000000;
  color: white;
}

/* End of styling for tables */


/* additional part 1*/

.itemcontainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 100px;
}

#text{
  border-right: 1px solid ;
  font-size: 50px;
}

.block{
  width: 50%;
  padding: 100px;
}

.flexbox{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 150px;
}


a.button1{
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid rgb(150, 60, 60);
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: rgb(177, 41, 41);
  text-align: center;
  transition: all 0.2s;
  margin-bottom: 50px;
  font-size: 25px;
}

a.button2{
  display: inline-block;
  padding: 0.35em 1.9em;
  border: 0.1em solid rgb(179, 31, 31);
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: rgb(209, 35, 35);
  text-align: center;
  transition: all 0.2s;
  margin-bottom: 50px;
  font-size: 25px;
}


/* end of additional part one */

.Modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modalcontent{
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close{
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.search{
  background-position: 12px 12px;
  background-repeat: no-repeat;
  width: 150%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

#R_List{
  list-style-type: none;
  padding: 10px;
  margin: 0;
}

#R_List li a{
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#R_List li a:hover:not(.header) {
  background-color: #eee;
}






















/*Footer */
.footer {
  text-align: center;
  padding: 3px;
  background-color:black;
  color: #ed6f32;  
  position: absolute;
  bottom: 100;
  width: 100%;
}
/* End of Footer */