body{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: whitesmoke;
}

/*Responsive Image */
.mainlogo {
    width: 100%;
    max-width: width auto;
    height: auto;
  }

  /*nav bar*/
  
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: #1b1b1b;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
.content div{
  font-size: 40px;
  font-weight: 700;
}

/* end of nav bar */



#para{
    padding-top: 50px;
    font-size: 50px;
    text-align: center;
    font-weight: 400;
}




/*button Styles*/
a.button1{
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid rgb(0, 0, 0);
    margin-top: 0;
    margin: 0 25%;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: rgb(0, 0, 0);
    text-align: center;
    transition: all 0.2s;
    margin-bottom: 50px;
    font-size: 25px;
  }

  a.button1:hover{
    background-color: #dd0949;
    color: black;
    border: 0.1em solid #000000;
  }
  
  /*end of button styles*/


  /*flex row*/
  .buttoncontainer{
      display: flex;
      flex-direction: row;
      margin: 100px;
      justify-content: left;
      width: 100%;
  }

  /*end of flex row*/

  /*flex columns*/

  .flex1{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 25%;
      margin-left: 20%;
      border-right: 1px solid black;
  }

  .flex2{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 25%;
      margin-left: 5px;
  }

  /* end  of flex columns*/



/*modal and content */
/* Modal stlye */
.Modal{
    display: none; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .modalcontent{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  
  #S_List{
    list-style-type: none;
    padding: 10px;
    margin-top: 30px;
  }
  
  #S_List li a{
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
  }
  
  #S_List li a:hover:not(.header) {
    background-color: #eee;
  }

  /*end of modal and content*/
























  .footer {
    text-align: center;
    padding: 3px;
    background-color:#000000;
    color: #ed6f32;  
    position: absolute;
    width: 100%;
  }





